* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

canvas {
  background: #000000;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  margin: 0 auto;
  margin-top: 10px;
  color: blue;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.main {
  display: flex;
}

.instructions {
  width: 323px;
  padding: 0 5px;
  margin: 0 5px;
  border: 1px solid #2c2e30;
  background-color: #edecc4;
  box-shadow: 2px 2px #e1e1e1;
}

.story {
  width: 323px;
  padding: 0 5px;
  margin: 0 5px;
  border: 1px solid #2c2e30;
  background-color: #fff6e8;
  box-shadow: 2px 2px #e1e1e1;
}

.links {
  display: flex;
  justify-content: space-around;
}

.pic {
  width: 90%;
  margin: 5%;
}

.github {
  height: 54px;
}

.ital {
  font-style: italic;
}
